.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style-type: none;
}

.page-item {
	background-color: #4c5364;
	width: 25px;
	height: 25px;
	margin: 50px 5px 5px 5px;
	border-radius: 10%;
	cursor: pointer;
}

.page-item:hover {
	background-color: #0050ff;
}

.page-item.active {
	background-color: #0050ff;
}

.page-link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: #fff;
}

.page-link i {
	color: #fff;
}
