@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Alata, sans-serif;
}

.title {
	display: flex;
	justify-content: center;
	align-items: center;
}
.square {
	width: 16px;
	height: 16px;
	background-color: #0050ff;
	margin-right: 10px;
}
