.profile-container {
	width: 415px;
	height: 550px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	background-color: #f4ece6;
	position: absolute;
	right: -10%;
	top: 50%;
	transform: translateY(-40%);
	box-shadow: -11.31px 11.31px 25px 0px rgba(138, 131, 124, 0.23);
	border-radius: 5px;
	z-index: 1;
}

.profile-content {
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}

.profile-content img {
	border-radius: 50%;
	width: 205px;
	height: 205px;
}

.profile-name {
	font: normal normal bold 25px/1.4em poppins-semibold, poppins, sans-serif;
	position: relative;
}

.profile-content span {
	letter-spacing: 0.25em;
	display: inline-block;
}

.mobile-button a {
	display: none;
}

.profile-content .under_line {
	width: 60px;
	height: 2px;
	background-color: #0050ff;
	/* position: absolute;
	left: 50%;
	bottom: 15%;
	transform: translateX(-50%); */
}

.social {
	width: 100%;
	background-color: #fff;
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 0;
}

.social i {
	color: #000;
	font-size: 25px;
	margin: 15px;
	cursor: pointer;
}

@media (max-width: 575.99px) {
	.profile-container {
		width: 320px;
		height: 400px;
		top: 50%;
		right: 0;
		left: 50%;
		transform: translateX(-50%) translateY(0%);
		justify-content: center;
	}

	.profile-content {
		height: 200px;
	}

	.profile-content img {
		width: 120px;
		height: 120px;
	}

	.profile-name {
		font-size: 20px;
	}

	.profile-content span {
		visibility: hidden;
	}

	.mobile-button {
		display: flex;
		justify-content: center;
		width: 100%;
	}

	.mobile-button a {
		display: inline-block;
		background-color: #0050ff;
		text-decoration: none;
		text-align: center;
		color: #fff;
		border-radius: 15px;
		width: 35%;
		margin: 10% 0;
		padding: 5px;
		font-size: 15px;
		font-weight: bold;
		border: 1.5px solid #0050ff;
	}

	.mobile-button a:hover {
		background-color: #fff;
		color: #000;
		border: 2px solid #0050ff;
	}

	.mobile-button a + a {
		background-color: #fff;
		color: #000;
		border: 1.5px solid #000;
		margin-left: 10px;
	}

	.mobile-button a + a:hover {
		background-color: #0050ff;
		color: #fff;
		border: 1.5px solid #0050ff;
	}
}
