.about-container {
	display: flex;
	height: 95vh;
}

.about-container .left-bg {
	background-color: #e6dace;
	width: 40%;
	position: relative;
}

.about-container .right-bg {
	background-color: #fff;
	width: 60%;
	position: relative;
}
