.about-container {
	display: flex;
	height: 100vh;
}

.about-container .left-bg {
	background-color: #e6dace;
	flex: 3;
	position: relative;
}

.about-container .right-bg {
	background-color: #fff;
	flex: 4;
	position: relative;
}
