.profile-container {
	width: 415px;
	height: 550px;
	background-color: #f4ece6;
	position: absolute;
	right: -10%;
	top: 50%;
	transform: translateY(-40%);
	box-shadow: -11.31px 11.31px 25px 0px rgba(138, 131, 124, 0.23);
	border-radius: 5px;
	z-index: 1;
}

.profile-content {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 10%;
	text-align: center;
}

.profile-content img {
	border-radius: 50%;
	width: 205px;
	height: 205px;
}

.profile-name {
	font: normal normal bold 25px/1.4em poppins-semibold, poppins, sans-serif;
	position: relative;
}

.profile-content span {
	letter-spacing: 0.25em;
	display: inline-block;
	margin-top: 30%;
}

.profile-content .under_line {
	width: 60px;
	height: 2px;
	background-color: #0050ff;
	position: absolute;
	left: 50%;
	bottom: 15%;
	transform: translateX(-50%);
}

.social {
	width: 100%;
	background-color: #fff;
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 0;
}

.social i {
	color: #000;
	font-size: 25px;
	margin: 15px;
	cursor: pointer;
}

@media (max-width: 575.99px) {
	.profile-container {
		width: 320px;
		height: 400px;
		top: 50%;
		right: 0;
		left: 50%;
		transform: translateX(-50%) translateY(0%);
	}

	.profile-content img {
		width: 120px;
		height: 120px;
	}

	.profile-name {
		font-size: 20px;
	}

	.profile-content span {
		visibility: hidden;
	}
}
